@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";


body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --rarity-consumer: rgba(132, 123, 110, 30%);
  --rarity-industrial: rgba(94, 152, 217, 30%);
  --rarity-mil-spec: rgba(63, 97, 255, 30%);
  --rarity-restricted: rgba(49, 60, 255, 30%);
  --rarity-classified: rgba(211, 44, 230, 30%);
  --rarity-covert: rgba(235, 75, 75, 30%);
  --rarity-contraband: rgba(228, 174, 57, 30%);
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.nav-active {
  transition: opacity .5s ease;
  position: absolute;
  bottom: -12px;
  height: 3px;
  left: calc(50% - 20px);
  width: 40px;
  background-color: #237bff;
  opacity: 1;
}